
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<br />
<center><img src="~/Obrazy/Logo.jpg" class="img-rounded" alt="Cinque Terre"></center>

<center><h2></h2></center>
