
@{
    ViewBag.Title = "Konsultacje";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Konsultacje</h2>

@Html.ActionLink("Przeprowadz konsultacje", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />