
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Profil</h2>

@Html.ActionLink("Aktualizuj profil", "AktualizujSwojProfil", "Lekarz", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Wyswietl opinie", "WyswietlOpinie", "Lekarz", new { @class = "btn btn-primary", @style = "color:white" })<br />