
@{
    ViewBag.Title = "ZamowWizyteKonsultacyjnaGabinet";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

@model IEnumerable<SWPappPro.Models.GABINET>
<br />
<h3>Wybierz gabinet:</h3>
<br />
<table class="table">
    <tr>
        <th>
            Numer gabinetu
        </th>
        <th>
            Numer budynku
        </th>
        <th>
            Rodzaj gabinetu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BUDYNEK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RODZAJ)
            </td>
            <td>
                @Html.ActionLink("Wybierz", "ZamowWizyteKonsultacyjnaFormularz", new { id = item.GABINET_ID }) |
            </td>
        </tr>
    }

</table>