
@{
    ViewBag.Title = "WyswieltKartePacjenta";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Wyswielt karte pacjenta</h2>
Wybierz z poniższej listy pacjenta a następnie zatwierdz:
@using (Html.BeginForm("WyswietlKartePacjentaZatwierdz", "WyswietlKartePacjenta", FormMethod.Post))
{
@Html.TextBox("Pacjent", "Pacjent", new { @class = "form-control" })  
<br /> <br />
<button type="submit">Wyswietl</button>
}