@model IEnumerable<SWPappPro.Models.POWIADOMIENIE>
@{
    ViewBag.Title = "OdczytajPowiadomienie";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<br />
<h3>Wybierz powiadomienie:</h3>
<br />
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEKARZ.NAZWISKO)
            </td>
            <td>
                @Html.ActionLink("Szczegoly", "OdczytajPowiadomienieSzczegoly", new { id = item.POWIADOMIENIE_ID }) | @Html.ActionLink("Usun", "OdczytajPowiadomienieUsun", new { id = item.POWIADOMIENIE_ID })
            </td>
        </tr>
    }
    </table>