
@{
    ViewBag.Title = "PrzeplanujWizyteData";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

@model SWPappPro.Models.KalendarzModel
<br />
<h3>Wybierz nowy termin:</h3>
<br />
<div>
    <table class="table">
        <tr>
            <th>
                Data
            </th>
            <th>
                Godzina
            </th>
            <th>
                Umowiona wizyta
            </th>
        </tr>

        @foreach (var item in Model.Terminarz)
        {
            if (Model.Wizyta_konsultacyjnaStala.Where(i => i.TERMINARZ_ID == item.TERMINARZ_ID).FirstOrDefault() == null)
            {
                if (Model.Wizyta_domowaStala.Where(i => i.TERMINARZ_ID == item.TERMINARZ_ID).FirstOrDefault() == null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GODZINA)
                        </td>
                        <td>
                            @Html.ActionLink("Wybierz", "PrzeplanujWizyteFormularz", new { id = item.TERMINARZ_ID })
                        </td>

                    </tr>
                }
            }
        }
    </table>
</div>