
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
<center><h2>Witamy w aplikacji SWP!</h2></center>
</div>

<div>
    <center><img src="~/Obrazy/med.jpg" style=" width:50%" alt="Cinque Terre" /></center>
</div>
<div>
    <center><b>Witamy w aplikacji SWP!</b></center>
</div>
