@model SWPappPro.Models.LEKARZ

@{
    ViewBag.Title = "LoginLekarz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginLekarz</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm("LoginLekarz", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h1>Logowanie</h1>
        <div>

            @if (TempData["ErrorMSG"] != null)
            {
                <label style="color:maroon;"> @TempData["ErrorMSG"] </label>
                <br /><br />
            }

            @Html.TextBoxFor(s => s.PESEL, new { @placeholder = "Username" })
            <br /> <br />
            @Html.PasswordFor(s => s.HASLO, new { @placeholder = "Password" })
            <br /> <br />
            <button type="submit">Login</button>
        </div>
    }
</body>
