@model SWPappPro.Models.LEKARZ

@{
    ViewBag.Title = "Zaloguj się!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zaloguj się jako lekarz:</title>
</head>
<body>
    <center>
        <div>
            <img src="~/Obrazy/doc.jpg" class="img-rounded" alt="Cinque Terre">
        </div>
    </center>

    <div>
        <center>
            @using (Html.BeginForm("LoginLekarz", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                
                <div>

                    @if (TempData["ErrorMSG"] != null)
                {
                        <label style="color:maroon;"> @TempData["ErrorMSG"] </label>
                        <br /><br />
                    }
                    @Html.TextBoxFor(s => s.PESEL, new { @placeholder = "Login" })
                    <br /> <br />
                    @Html.PasswordFor(s => s.HASLO, new { @placeholder = "Hasło" })
                    <br /> <br />
                    <button type="submit" class="btn btn-default" >Login</button>
                </div>

            }
        </center>
    </div>
</body>
