@model IEnumerable<SWPappPro.Models.PACJENT>
@{
    ViewBag.Title = "UmowWizyteDonWybierzPacjenta";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}
<br />
<h3>Wybierz pacjenta z listy:</h3>
<br />
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            PESEL
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                @Html.ActionLink("Wybierz", "UmowWizyteDomFormularz", new { pacjent_id = item.PACJENT_ID })
            </td>
        </tr>
    }
    </table>