
@{
    ViewBag.Title = "UmowWizyte";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<center><h3>Wybierz rodzaj wizyty:</h3></center>
<br/>
@Html.ActionLink("Konsultacyjna", "UmowWizyteKon", "UmowWizyte", new { @class = "btn btn-primary btn-block btn-lg", @style = "color:white" })<br />
@Html.ActionLink("Domowa", "UmowWizyteDom", "UmowWizyte", new { @class = "btn btn-primary btn-block btn-lg", @style = "color:white" })<br />
