@model SWPappPro.Models.KalendarzModel
@{
    ViewBag.Title = "UmowWizyteKon";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}
<div>
    <h2>Lista wolnych terminów:</h2>

    Strona wyświetla wstawione przez lekarza terminy w formie tabeli:
    <table class="table">
        <tr>
            <th>
                Data
            </th>
            <th>
                Godzina
            </th>
            <th>
                Umowiona wizyta
            </th>
        </tr>

        @foreach (var item in Model.Terminarz)
        {

            if (Model.Wizyta_konsultacyjnaStala.Where(i => i.TERMINARZ_ID == item.TERMINARZ_ID).FirstOrDefault() == null) { 
            if(Model.Wizyta_domowaStala.Where(i => i.TERMINARZ_ID == item.TERMINARZ_ID).FirstOrDefault() == null){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GODZINA)
                </td>
                <td>
                    @Html.ActionLink("Umow wizyte", "UmowWizyteKonWybierzGabinet", new { terminarz_id = item.TERMINARZ_ID })
                </td>

            </tr>
                }
            }
        }
    </table>
</div>