<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c6d53daf-0f74-458b-956c-42c56877e72b/resourceGroups/SWPappProjekt/providers/Microsoft.Web/sites/SWPapp</ResourceId>
    <ResourceGroup>SWPappProjekt</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://swpapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>swpapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SWPapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SWPapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SWPappDBEntities5" Order="1" Enabled="False">
          <Destination Path="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;Application Name=EntityFramework" Name="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SWPappPro.Models.SWPappDBEntities5, SWPappPro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SWPappDBEntities1" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SWPappDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SWPappdb.csdl|res://*/Models.SWPappdb.ssdl|res://*/Models.SWPappdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=swpappdb.database.windows.net;initial catalog=SWPappDB;persist security info=True;user id=swpadmin;password=System100%;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SWPappDBEntities2" Order="3" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SWPappDBEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=swpappdb.database.windows.net;initial catalog=SWPappDB;persist security info=True;user id=swpadmin;password=System100%;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SWPappDBEntities3" Order="4" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SWPappDBEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LoginModel.csdl|res://*/Models.LoginModel.ssdl|res://*/Models.LoginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=swpappdb.database.windows.net;initial catalog=SWPappDB;persist security info=True;user id=swpadmin;password=System100%;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SWPappDBEntities4" Order="5" Enabled="False">
          <Destination Path="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;Application Name=EntityFramework" Name="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SWPappDBEntities4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.UserLoginModel.csdl|res://*/Models.UserLoginModel.ssdl|res://*/Models.UserLoginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=swpappdb.database.windows.net;initial catalog=SWPappDB;persist security info=True;user id=swpadmin;password=System100%;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SWPappDBEntities" Order="6" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SWPappDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Terminarz.csdl|res://*/Models.Terminarz.ssdl|res://*/Models.Terminarz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=swpappdb.database.windows.net;initial catalog=SWPappDB;persist security info=True;user id=swpadmin;password=System100%;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SWPappDBEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SWPappDBEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="SWPappDBEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UserLoginModel.csdl|res://*/Models.UserLoginModel.ssdl|res://*/Models.UserLoginModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SWPappDBEntities1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SWPappDBEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SWPappDBEntities5-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UserModel.csdl|res://*/Models.UserModel.ssdl|res://*/Models.UserModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=swpappdb.database.windows.net;Initial Catalog=SWPappDB;Persist Security Info=True;User ID=swpadmin;Password=System100%;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>