@model IEnumerable<SWPappPro.Models.OPINIA>
@{
    ViewBag.Title = "WyswietlOpinie";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<br />
<h3>Twoja lista opinii:</h3>
<br />
<table class="table">
    <tr>
        <th>
            Treść
        </th>
        <th>
            Ocena
        </th>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TRESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCENA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PACJENT.NAZWISKO)
            </td>
        </tr>
    }

</table>