
@{
    ViewBag.Title = "WyswietlKalendarz";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Lista umowionych wizyt:</h2>

Strona wyświetla umówione wizyty lekarza w formie tabeli:
<br />
<br />
Data | Godzina | Rodzaj Wizyty | Pacjent | Cel | Uwagi