
@{
    ViewBag.Title = "Lekarze";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<h2>Lekarze</h2>

@Html.ActionLink("Wystaw opinie", "WystawOpinie", "Pacjent", new { @class = "btn btn-primary", @style = "color:white" })<br />
