
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<h2>Profil</h2>

@Html.ActionLink("Aktualizuj profil pacjenta", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Podejrzyj karte pacjenta", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />