
@{
    ViewBag.Title = "Wizyty";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<h2>Wizyty</h2>

@Html.ActionLink("Zamow wizyte domowa", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Zamow wizyte konsultacyjna", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Odczytaj powiadomienie", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Przeplanuj wizyte", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />